@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* *{
  outline: 3px solid aqua;
} */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body::after{
  background: transparent;
}

button, input, select, textarea, label, select {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 20px 5%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 5px 0px;
  font-size: 95%;
}

.navbar-right{
  width: 80%;
}

.right{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:flex-end;
}


.right-child{
  margin: 2px 4%;
  font-size: 120%;
}

.left{
  width:20%;
  text-decoration: none;

}

.left h1{
  margin: 0;
}

a{
  text-decoration: none;
}

.blog-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;

}

.container{
  padding:2rem;
  padding-bottom:3rem;
  width:40%;
  min-width:8rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.center{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  margin-top:5%;
}

.margin-m{
  margin-top: 2%;
}

.margin-l{
  margin-top: 5%;
}

input, label, button, select, textarea{
  min-height: 24px;
  font-size:1.3em;  
}
input, select, textarea{
  border: 1px solid black;
  border-radius: 1px;
}
h1, input, label, button, textarea, select, option{
  width:80%;
  margin:0 10%;
  resize: vertical;
}


/* CSS */
.button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #171e29;
}

.button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}
